* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;

}

.container{
  padding: 0 30px;
}
.navbar{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1)
}

.logo{
  width: 100px;
}

.hero-container{
  width: 100%;

  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.image-grid{
  align-self: center;
  margin-bottom: 10px;
  width: 50%;
  
}

.cards-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}


.card-container{
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
 
}


.card-img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}


.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
}


.card-price {
  margin-top: auto;
}

@media screen and (max-width: 600px)  {

  .image-grid{
  
    width: 100%;
    
  }
  
}

